---
- name: Ensure fail2ban is installed
  ansible.builtin.apt:
    name: fail2ban
    state: present
  become: true

- name: Configure fail2ban
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    mode: "0644"
    backup: true
  become: true
  notify: Restart fail2ban

- name: Validate fail2ban configuration
  ansible.builtin.command:
    cmd: fail2ban-client -t
  changed_when: false
  become: true

- name: Ensure fail2ban service is enabled
  ansible.builtin.service:
    name: fail2ban
    enabled: true
  become: true
