---
- name: Restart Docker
  ansible.builtin.systemd:
    name: docker
    state: restarted
  become: true

- name: Restart containerd
  ansible.builtin.systemd:
    name: containerd
    state: restarted
  become: true
