---
- name: Configure timezone
  community.general.timezone:
    name: "{{ timezone }}"
  become: true

- name: Generate locale
  community.general.locale_gen:
    name: en_US.UTF-8
    state: present
  become: true

- name: Include sysctl management tasks
  ansible.builtin.import_tasks: sysctl.yml

- name: Include package management tasks
  ansible.builtin.import_tasks: packages.yml

- name: Include DNS resolver tasks
  ansible.builtin.import_tasks: dns.yml
