[DEFAULT]
bantime = {{ fail2ban_bantime }}
bantime.increment = true
bantime.factor = 1
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
backend = auto
usedns = warn

[sshd]
enabled = true
port = {{ ssh_port }}
filter = sshd
logpath = /var/log/auth.log
backend = systemd
