---
- name: Ensure journald.conf.d directory exists
  ansible.builtin.file:
    path: /etc/systemd/journald.conf.d
    state: directory
    mode: "0755"
    owner: root
    group: root
  become: true

- name: Deploy journald configuration
  ansible.builtin.copy:
    src: journald.d/99-ansible.conf
    dest: /etc/systemd/journald.conf.d/99-ansible.conf
    owner: root
    group: root
    mode: "0644"
    backup: "yes"
  become: true
  notify: Restart journald

- name: Validate journald configuration
  ansible.builtin.command:
    cmd: systemd-analyze verify systemd-journald.service
  changed_when: false
  failed_when: false
  register: journald_verify
  become: true

- name: Check journald configuration syntax
  ansible.builtin.command:
    cmd: systemd-analyze cat-config systemd/journald.conf
  changed_when: false
  become: true
